/* LER ALGO INSPIRADOR */

.container {
    display: grid;
    place-items: center;
    gap: 20px;
}

.card {
    background-color: #e78ac3;
    border-radius: 10px;
    width: 70%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icones {
    display: flex;
    gap: 15px;
}

.foto {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.texto {
    width: 75%;
    font-size: 18px;
    line-height: 1.5;
}

.voltar {
    font-size: 35px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: normal;
}

h2 {
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    font-weight: normal;
}

.texto {
    font-size: 18px;
    color: black;
    line-height: 1.5;
}

.foto {
    width: 30px;
    height: 30px;
    font-size: 20px;
    right: 10px;
}