body {
    background-color: #f5ddf5;
    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 0;
}



.container {
    display: grid;
    place-items: center;
    gap: 20px;
}



.card {
    background-color:#e78ac3 ;
    border-radius: 10px;
    border: 10px;
    width: 70%;
}



.voltar {
    font-size: 35px;
    margin-bottom: 10px;
}



h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: normal;
}



h2 {
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    font-weight: normal;
}



.texto {
    font-size: 18px;
    color: black;
    line-height: 1.5;
}



.foto {
    width: 30px;
    height: 30px;
    font-size: 20px;
    right: 10px;
}