body{
    background-color: #f8f0f8;
    font-family: Georgia, serif;
    display: flex;
    justify-content: center;
}

.container{
    width: 800px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    align-items: center;
}

.voltar{
    text-align: left;
    font-size: 50px;
}

h1{
    color: #a8468b;
    font-size: 50px;
    margin-bottom: 10px;
}


h2{
    margin-bottom: 5px;
    font-size: 30px;
}

h3{
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}

p{
    margin-top: 0;
    font-size: 20px;
}


.opcao{
    width: 50px;
    margin: 15px;
    padding: 10px;
    font-size: 25px;
}

.card{
    width: 500px;
    margin: 15px auto;
    padding: 10px;
    background-color: #e78ac3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center; /* centraliza o h3 */
    position: relative;      /* referência para a imagem */
}

.card img{
    width: 40px;
    position: absolute;
    left: 20px;
}

.card_seguro{   
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center; /* centraliza o h3 */
    position: relative;      /* referência para a imagem */
}

.card_seguro img{
    width: 40px;
    position: absolute;
    left: 20px;
}